<header>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>
      <li>
        <a routerLink="/location" routerLinkActive="active"> Location </a>
      </li>
      <li>
        <a routerLink="/product" routerLinkActive="active"> Product </a>
      </li>
      <li>
        <a routerLink="/warehouse" routerLinkActive="active"> Warehouse </a>
      </li>
    </ul>
  </nav>
</header>
