<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Enabled</th>
      <th>AddressId</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let warehouse of warehouses">
      <td>{{ warehouse.id }}</td>
      <td>{{ warehouse.name }}</td>
      <td>{{ warehouse.isEnabled }}</td>
      <td>{{ warehouse.addressId }}</td>
      <td>{{ warehouse.createdAt }}</td>
      <td>{{ warehouse.updatedAt }}</td>
    </tr>
  </tbody>
</table>
